* { box-sizing: border-box; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, 
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  overflow: hidden;
}

*:focus {
  outline:0;
}

.swiper-slide {
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: grab;

  .img {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.50));
  }

  .word {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
  }

  .char {
    display: inline-block;
    transform: translateY(100%);
  }

  .box {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;

    .h1 {
      font-size: 16vw;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      line-height: 1;
      
      @media (max-width: 1024px) {
        font-size: 10vw;
      }
    }

    .text {
      padding: 0;
      margin: 0;
      font-size: 26px;
      color: white;
      overflow: hidden;
      display: inline-block;

      span {
        display: inline-block;
        transform: translateY(-100%);
      }

      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}

.swiper-pagination {
  height: 23px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  .swiper-pagination-bullet {
    position: relative;
    z-index: 1;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;  
    background: #fff;
    margin: 0 10px;
    opacity: 1;
    transition: all .3s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    transform: scale(1.5);
  }
}